:root {
    --main-clr: #be54d1;
    --txt-clr: #8c8c8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: var(--txt-clr);
  padding: 20px;
}

h1 {
    text-align: center;
}

button {
    width: 100%;
    background-color: var(--main-clr);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;

    &:hover {
        background-color: color-mix(in srgb, var(--main-clr) 80%, transparent);
    }

    & a {
        color: initial;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}