form {
    max-width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    & label {
        display: block;
        margin-bottom: 15px;
        font-weight: bold;
        color: #333;

        &:has(:is(input,select,textarea):required) span::after {
            content: '*';
            color: red;
            font-size: 1rem;
        }
    }

    & :is(textarea, input:not([type="submit"]), select) {
        width: 100%;
        padding: 10px 12px;
        margin-top: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        box-sizing: border-box;
        transition: border-color 0.3s;
        min-height: 40px;

        &:focus {
            border-color: #007BFF;
            outline: none;
        }
    }

    & select {
        & > option {
            color: initial;
            &[value=""] {
                color: #757575;
            }
        }
        &:has(option[value=""]:checked) {
            color: #757575;
        }
    }

    & input[type="date"]:invalid {
        color: #757575;
    }

    & textarea {
        field-sizing: content;
        max-height: 10lh;
    }

    & button:is([type="submit"], [type="reset"]) {
        width: 100%;
        background-color: var(--main-clr);
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s;

        &:hover {
            background-color: color-mix(in srgb, var(--main-clr) 80%, transparent);
        }
    }
}